$primary_font: 'Open Sans',
sans-serif;
$primary_serif: 'Lora',
serif;
$primary_mono: 'Consolas',
monospace;

$vibe: hsla(242, 89%, 64%, 1);
$blue: hsla(197, 100%, 50%, 1);
$red: hsla(352, 70%, 50%, 1);
$altRed: hsla(352, 70%, 60%, 1);
$purple: hsla(222, 89%, 64%, 1);
$green: hsla(170, 100%, 39%, 1);
$charcoal: hsla(268, 10%, 30%, 1);
$deepPurple: hsla(240, 68%, 62%, 1);
$orange: hsla(11, 100%, 75%, 1);
$yellow: hsla(60, 92%, 71%, 1);
$grey: hsla(216, 14%, 93%, 1);
$altYellow: hsla(39, 100% ,70%, 1);

// FLAT VERSIONS
$flatBlue: hsla(197, 100%, 50%, .3);
$flatPurple: hsla(222, 89%, 64%, .3);
$flatAltPurple: hsla(259, 77%, 64%, .4);
$flatGreen: hsla(144, 69%, 63%, .4);
$flatSmoke: hsla(268, 10%, 30%, .2);
$flatRed: hsla(330, 100%, 41%, .22);
$flatYellow: hsla(60, 92%, 71%, .7);
$flatOrange: hsla(11, 100%, 75%, .4);

$light_shadow: 0px 1px 7px -1px rgba(0, 0, 0, 0.25);
$medium_shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
0 3px 6px rgba(0, 0, 0, 0.23);
$heavy_shadow: 3px 4px 16px -1px rgba(0, 0, 0, 0.75);


$greys: (
    dark: hsla(0, 0%, 13%, 1),
    medium: hsla(0, 0%, 29%, 1),
    light: hsla(0, 0%, 45%, 1),
);

$blueGreys: (
    lightest: hsla(204, 46%, 98%, 1),
    light: hsla(214, 32%,  91%, 1),
    cloudy: hsla(211, 25%,  84%, 1),
    saturated: hsla(218, 17%, 65%, 1),
    dark: hsla(216, 15%, 52%, 1),
    darkest: hsla(218, 17%, 35%, 1),
);

$colors: (main: $vibe,
    mainPurple: $deepPurple,
    mainBlue: $blue,
    mainRed: $red,
    mainGreen: $green,
    mainOrange: $orange,
    mainYellow: $yellow,
    mainCharcoal: $charcoal,
    mainGrey: $grey,
    altRed: $altRed,
    altYellow: $altYellow,
);

$flatColors: (
    main: $flatAltPurple,
    mainBlue: $flatBlue,
    mainRed: $flatRed,
    mainGreen: $flatGreen,
    mainYellow: $flatYellow,
    mainOrange: $flatOrange,
    altPurple: $flatPurple,
);

$shadows: (light: $light_shadow,
    medium: $medium_shadow,
    heavy: $heavy_shadow,
);

$fonts: (mainSans: $primary_font,
    mainSerif: $primary_serif,
    mainMono: $primary_mono,
)
